.contact-page {
    display: flex;
    position: relative;
    width: 100%;
    height: calc(100vh - 7.8rem);

    @media(max-width: 1000px) {
        flex-direction: column;
        height: auto;
    }

    &__box {
        width: 50%;
        @media(max-width: 1000px) {
            width: 100%;
        }

        &-left {
            @media(max-width: 1000px) {
                display: none;
            }
        }
    }

    &__image {
        height: 100%;
        width: 100%;
    }

    &__form {
        padding: 10vh 18rem 0 18rem;
        max-width: 85rem;

        &-heading {
            margin-bottom: 4rem;
            @media(max-width: 1400px) {
                margin-bottom: 4rem;
            }
        }

        @media(max-width: 1400px) {
            padding: 4vh 6rem 0 6rem;
        }

        @media(max-width: 1000px) {
            width: 100%;
            margin: 0 auto;
            padding: 10vh 6rem 0 6rem;
        }

    }

    .textarea {
        @media(max-width: 120rem) {
            height: 14rem;
        }
    }
}
