.events-page {
    height: 200vh;
}

.events {
    display: flex;
    gap: 2rem;
    justify-content: space-between;

    .event {
        width: 50%;
        max-width: 50rem;
        &__img {
            width: 100%;
            height: 40rem;
            border-radius: 0.5rem;
        }
    }
}
