.events-page {
    min-height: 100vh;
    padding-bottom: 4rem;
}

.events {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    .event {
        width: calc(99% / 3);
        padding: 0 5px;
        margin: 2rem 0;
        &__img {
            width: 100%;
            height: 40rem;
            border-radius: 0.5rem;
        }
    }
}
