.shop-preview {
    background: #444;
    text-align: center;
    padding-top: 11rem;
}

.decoration-line {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.8rem;
    width: 100%;


    &__line {
        height: 0.2rem;
        width: 20rem;
        background-color: #A5A0A0;
        margin: 0 1.7rem;
    }

    &__square {
        height: 1rem;
        width: 1rem;
        background-color: #A5A0A0;
        transform: rotate(45deg);
    }

    &__outer-square {
        margin: 0 1.2rem;
        height: 1.6rem;
        width: 1.6rem;
        border: 0.2rem solid #A5A0A0;
        transform: rotate(45deg);

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__inner-square {
        height: 0.6rem;
        width: 0.6rem;
        border: 0.2rem solid #A5A0A0;
    }
}

.shop-preview-item {
    display: flex;
    width: 100%;

    &__box {
        width: 50%;
    }

    &__image {
        flex: 1;
        height: 65rem;
        object-fit: cover;
        width: 100%;
    }

    &__content {
        padding: 12rem 8rem;
        text-align: left;
        width: 100%;
    }

    &__description {
        color: #FFF;
        font-size: 1.6rem;
        margin-top: 4rem;
        width: 80%;
    }
}

.gallery-preview {
    padding-top: 11rem;
    text-align: center;

    &__gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding-top: 6rem;
        text-align: left;
    }
}

.instagram-post {
    width: 100%;

    &__img {
        display: block;
        width: 100%;
        height: 28vw;
        object-fit: cover;
    }

    &__caption {
        width: 80%;

        &-hashtags {
            color: blue;
        }
    }
}


