.single-product-page {
    .single-product {
        &__price {
            padding: 1rem 1.5rem;
            border-radius: 10rem;
            background-color: #444;
            color: #FFF;
            font-size: 1.6rem;
            font-weight: 600;
        }

        &__image {
            width: 50%;
            height: 65vh;
            object-fit: cover;
        }

        &__content {
            padding-left: 7.2rem;
        }
    }
}

.description-and-information {
    .header-links {
        padding-top: 4.5rem;
        gap: 3.6rem;
        cursor: pointer;
    }

    .active {
        color: var(--pink);
        cursor: default;
    }

    .description, .additional-information {
        padding-top: 2rem;
    }

    .description {
        font-size: 1.6rem;
        white-space: pre-wrap;
        text-align: left;
    }
}
