.single-product-page {
    padding-bottom: 12rem;

    .single-product {
        &__price {
            padding: 1rem 1.5rem;
            border-radius: 10rem;
            background-color: #444;
            color: #FFF;
            font-size: 1.6rem;
            font-weight: 600;
        }

        &__image {
            width: 100%;
            height: 65vh;
            object-fit: cover;
        }

        &__content {
            padding-left: 7.2rem;
        }
    }
}

.description-and-information {
    .header-links {
        padding-top: 4.5rem;
        gap: 3.6rem;
        cursor: pointer;
    }

    .active {
        color: var(--pink);
        cursor: default;
    }

    .description, .additional-information {
        height: 35rem;
        padding-top: 2rem;
    }

    .description {
        font-size: 1.6rem;
        white-space: pre-wrap;
        text-align: left;
    }
}

.additional-information {
    .information-box {
        height: 21rem;
        width: 70%;
        background: #FFF;
        border-radius: 0.3rem;

        &__row {
            padding: 0 2rem;
            height: 25%;
            align-items: center;

            &:not(:last-child) {
                border-bottom: 0.1rem solid #F4F4F4;
            }
        }

    }
}
