.breadcrumbs {
    text-align: center;
    display: flex;

    justify-content: center;
    padding-top: 8rem;

    &__link {
        font-size: 1.6rem;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--primary);

        &-active {
            color: var(--pink);
            font-weight: 600;
        }
    }


    &__slash {
        margin: 0 0.5rem;
        font-size: 1.6rem;
        color: #938F8F;
    }
}
