.label {
    display: block;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.input {
    height: 5rem;
    width: 100%;
    border: 1px solid var(--primary);
    border-radius: 0.3rem;
}

.button-pink-100 {
    height: 5.2rem;
    width: 100%;
    border-radius: 0.2rem;
    background: var(--pink);
    color: #FFF;
    font-size: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
