.paginator {
    margin: 3rem 0;
    display: flex;
    align-items: center;
    padding-bottom: 8rem;

    &__active {
        background-color: var(--pink);

        &-text {
            color: #FFF !important;
        }
    }

    &__arr-link {
        font-size: 2rem;
        font-weight: 600;
        cursor: pointer;
        text-decoration: none;
        color: var(--primary);
    }

    &__prev, &__next {
        font-size: 2rem;
        font-weight: 600;
        cursor: pointer;
    }

    &__prev {
        margin-right: 1.5rem;
    }

    &__next {
        margin-left: 1.2rem;

    }

    &__list {
        display: flex;

        &-item {
            height: 3.5rem;
            width: 3.5rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-link {
            font-size: 2rem;
            font-weight: 600;
            text-decoration: none;
            color: var(--primary);
        }
    }
}
