@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap);
:root {
  --primary: #444;
  --pink: #A81C51;
}

.large-heading-white {
  font-size: 4.8rem;
  color: #FFF;
}

.heading-lg {
  font-size: 3.6rem;
}

.heading-md {
  font-size: 2.4rem;
}

.heading-sm {
  font-size: 1.8rem;
}

.heading-xs {
  font-size: 1.4rem;
}

.white {
  color: #FFF;
}

.medium {
  font-weight: 600;
}

.tagline-white-italic {
  font-size: 2.4rem;
  color: #FFF;
  font-style: italic;
}

/* UTILITIES */
.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  line-height: 1;
  background-color: #F4F4F4;
  color: #444;
  font-family: "Roboto", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navbar {
  width: 100%;
  position: relative;
}
.navbar__content {
  height: 7.5rem;
  background-color: #FFF;
  padding: 0 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f4f4f4;
}
.navbar__menu {
  display: flex;
}
.navbar__menu-item {
  margin: 0 1rem;
}
.navbar__menu-link {
  text-decoration: none;
  color: #444;
  font-weight: 600;
}

.cta {
  height: calc(100vh - 7.5rem);
  display: flex;
  width: 100%;
}
.cta__left {
  padding-top: 25rem;
  width: 50%;
}
.cta__left-heading {
  font-size: 3.6rem;
}
.cta__left-tagline {
  width: 40rem;
  font-size: 1.8rem;
  opacity: 0.9;
  padding-top: 1rem;
}
.cta__left-buttons {
  display: flex;
  gap: 1rem;
  padding-top: 2rem;
}
.cta__right {
  width: 50%;
}
.cta__right-img {
  margin-top: 8rem;
  height: 65vh;
  width: 100%;
}

.button {
  height: 3.2rem;
  width: 12rem;
  border-radius: 0.3rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}
.button__black {
  background-color: #444;
  color: #FFF;
}
.button__white {
  background-color: #FFF;
  color: #444;
}
.button__pink {
  background-color: var(--pink);
  color: #FFF;
}

.container {
  padding: 0 15rem;
}

.secondary-navbar {
  height: 5rem;
  background: #444;
  color: #444;
}
.secondary-navbar__content {
  padding: 0 15rem;
  display: flex;
  height: 100%;
  align-items: center;
}
.secondary-navbar__list {
  margin-left: 6rem;
  display: flex;
  gap: 1rem;
}
.secondary-navbar__list-link {
  text-decoration: none;
  color: #FFF;
  text-transform: uppercase;
  font-size: 1.2rem;
}

/* PAGES */
.shop-preview {
  height: 20rem;
  background: #444;
  text-align: center;
  padding-top: 11rem;
}

.decoration-line {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.8rem;
  width: 100%;
}
.decoration-line__line {
  height: 0.2rem;
  width: 20rem;
  background-color: #A5A0A0;
  margin: 0 1.7rem;
}
.decoration-line__square {
  height: 1rem;
  width: 1rem;
  background-color: #A5A0A0;
  transform: rotate(45deg);
}
.decoration-line__outer-square {
  margin: 0 1.2rem;
  height: 1.6rem;
  width: 1.6rem;
  border: 0.2rem solid #A5A0A0;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.decoration-line__inner-square {
  height: 0.6rem;
  width: 0.6rem;
  border: 0.2rem solid #A5A0A0;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  width: 45%;
}
.product__price-box {
  height: 3.3rem;
  width: 100px;
  background: var(--primary);
  border-radius: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__price {
  color: #FFF;
  font-size: 1.6rem;
}
.product__description {
  width: 90%;
}
.product__image {
  width: 100%;
}

/* MISC */
.pt-8 {
  padding-top: 8rem;
}

.ml-auto {
  margin-left: auto;
}
