@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap);
:root {
  --primary: #444;
}

.large-heading-white {
  font-size: 4.8rem;
  color: #FFF;
}

.tagline-white-italic {
  font-size: 2.4rem;
  color: #FFF;
  font-style: italic;
}

/* UTILITIES */
.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

html {
  font-size: 62.5%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: #F4F4F4;
  color: #444;
  font-family: "Roboto", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navbar {
  width: 100%;
  position: relative;
}
.navbar__content {
  height: 7.5rem;
  background-color: #FFF;
  padding: 0 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f4f4f4;
}
.navbar__menu {
  display: flex;
}
.navbar__menu-item {
  margin: 0 1rem;
}
.navbar__menu-link {
  text-decoration: none;
  color: #444;
  font-weight: 600;
}

.cta {
  height: calc(100vh - 7.5rem);
  display: flex;
  width: 100%;
}
.cta__left {
  padding-top: 25rem;
  width: 50%;
}
.cta__left-heading {
  font-size: 3.6rem;
}
.cta__left-tagline {
  width: 40rem;
  font-size: 1.8rem;
  opacity: 0.9;
  padding-top: 1rem;
}
.cta__left-buttons {
  display: flex;
  gap: 1rem;
  padding-top: 2rem;
}
.cta__right {
  width: 50%;
}
.cta__right-img {
  margin-top: 8rem;
  height: 65vh;
  width: 100%;
}

.button {
  height: 3.2rem;
  width: 12rem;
  border-radius: 0.3rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}
.button__black {
  background-color: #444;
  color: #FFF;
}
.button__white {
  background-color: #FFF;
  color: #444;
}

.container {
  padding: 0 15rem;
}

/* PAGES */
.shop-preview {
  height: 20rem;
  background: #444;
  text-align: center;
  padding-top: 11rem;
}

.decoration-line {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.8rem;
  width: 100%;
}
.decoration-line__line {
  height: 0.2rem;
  width: 20rem;
  background-color: #A5A0A0;
  margin: 0 1.7rem;
}
.decoration-line__square {
  height: 1rem;
  width: 1rem;
  background-color: #A5A0A0;
  transform: rotate(45deg);
}
.decoration-line__outer-square {
  margin: 0 1.2rem;
  height: 1.6rem;
  width: 1.6rem;
  border: 0.2rem solid #A5A0A0;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.decoration-line__inner-square {
  height: 0.6rem;
  width: 0.6rem;
  border: 0.2rem solid #A5A0A0;
}
