.footer {
    width: 100%;
    background-color: var(--primary);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 6rem;
    padding-bottom: 6rem;

    @media(max-width: 1000px) {
        padding-top: 4rem;
        min-height: 24rem;
    }

    &__content {
        display: flex;
        text-align: left;

        @media(max-width: 1000px) {
            flex-direction: column;
            align-items: flex-start;
        }

        &-logo {
            font-size: 10.2rem;
            font-weight: 300;
            color: #FFF;
            font-family: SunZoomSpark;

            @media(max-width: 1000px) {
                font-size: 6.2rem;
            }

            @media (max-width: 600px) {
                font-size: 4.2rem;
            }

            .red {
                color: #E20101;
            }
        }

        &-right {
            display: flex;
            gap: 6rem;

            @media(max-width: 1000px) {
                margin-left: 0 !important;
                margin-top: 2rem;
            }
        }

        &__block {
            text-align: left;
        }
    }

    &__list-item {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__icon {
        color: #939790;
        font-size: 1.4rem;
    }

    &__link {
        color: #939790;
        text-decoration: none;
        margin: 0.4rem 0;
    }
}

.pink-divider {
    height: 0.2rem;
    width: 1.6rem;
    background-color: #e20101;
    margin-left: 0.3rem;
}
